section.header{

    .nav-top{
        position: relative;
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        width: 28%;
    }

    .right-nav{
        display: flex;
        width: 70%;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    .search{
        position: relative;
        width: 50%;

        label{
            position: absolute;
            right: 10px;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        input{
            width: 100%;
            padding-left: 0.5rem;
            outline: none;
            border: none;
            padding: .2rem .5rem;
        }
    }

    .upload{

        position: relative;

        label{
            position: absolute;
            top: 0;
            display: flex;
            left: 5px;
            height: 100%;
            justify-content: center;
            align-items: center;
        }

        button{
            border: none;
            outline: none;
            padding: 0.2rem 2rem;
        }
    }

    .nav-btm{
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        border-top: 1px solid white;
        border-bottom: 1px solid white;

        ul{
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0;
            list-style: none;
            margin: 0;

            li{
                width: 120px;
                // background: red;
                position: relative;
                &::after{
                    content: "\002F";
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                &:last-child::after{
                    content: "";
                }
            }
        }
    }


    .profile{
        display: flex;
        justify-content: center;
        align-items: center;

        .icc-pict{
            width: 30px;
            height: 30px;
            // background: red;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1rem;
        }

        p{
            margin: 0;
        }
    }

    label{ 
        i{
            color:  #953E46;
        }
    }

    i{
        color:  #953E46;
    }

    .burger{
        display: none;
        height: 100px;
        width: 100px;
        justify-content: flex-end;
        align-items: center;

        i{
            color: #F4E3CF;
            cursor: pointer;
        }

    }

    .nav-mobile{
        border-top: 2px solid;
        position: absolute;
        height: 0;
        background: #953E46;
        overflow: hidden;
        top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 1;
        visibility: hidden;
        transition: 0.5s ease-in-out;
        

        .right-mobile{
            // border-top: 2px solid;
            margin-top: 1rem;

            .search{
                width: 100%;
            }
        }

        .upload-and-profile{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            padding: 0 1rem;
        }

        ul{
            padding: 1rem;
            list-style: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 0;

            li{
                margin: .5rem 0;
            }
        }
    }

    .nav-mobile.activate{
        height: 100vh;
        visibility: visible;
        overflow: hidden;
    }

    
}


@media screen and (max-width : 768px) {
    section.header{

        .burger{
            display: flex;
        }

        .right-nav{
            display: none;
        }

        .nav-btm{
            display: none;
        }
    }
}